.containerFlex1 {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.plp-foot {
    grid-area: footer;
    text-align: center;
    font-size: 32px;
    font-family: Century Gothic;
    background-color: #333333;
    color: blanchedalmond;
    height: 2rem;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    

}

.elmenu {
    grid-area: menu;
    background-color: #333333;
    color: white;
    text-align: center;
    font-size: 32px;
    font-family: Century Gothic;
    height: auto;
    width: auto;

    border-top-right-radius: 1.5rem;
}

.ell {
    text-align: center;
    font-size: 18px;
    font-family: Century Gothic;
    height: auto;
    width: auto;
    flex-basis: 150px;
    color: #333333;
    border-radius: 1.3rem;
}

.b1 {
    text-align: center;
    font-size: 18px;
    font-family: Century Gothic;
}

.containerFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* text-align: center; */
}

.containerGrid {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main main main'
        'footer footer footer footer footer footer';
}

#image {
    background-color: rgb(201, 128, 179);
    color: rgb(30, 30, 30);
    width: 250px;
    height: 350px;
    font-family: Century Gothic;
}

#prodtit {
    text-align: center;
    font-size: 48px;
    color: #333333;
    font-family: Century Gothic;
}

.container-flex-menu {
    display: flex;
    flex-direction: column;
}