* {
    --accent-color: orangered;
    --text-dark: #222222;
    --text-light: #eeeeee;
    --background-dark: #222222;
    --background-light: #eeeeee;

    padding: 0;
    margin: 0;
    font-family: system-ui;
}

body {
    margin: 0;
    font-family: system-ui;

    width: 100vw;
    min-height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 70vw 1fr;
    grid-template-areas:
        "header header header"
        ". main ."
        "footer footer footer";
}

main {
    grid-area: main;
    
    margin: 1rem 0;

    display: grid;
    gap: 1rem;
}
